<!DOCTYPE html>
<html lang="ja">
<head>
  <meta charset="UTF-8">
  <title>推し活日記</title>
</head>
<body>
<h1>推し活日記</h1>
<p>自分だけの推し活コラージュ日記を作ろう！！</p>
<div class="button001">
  <a href="#">始める</a>
</div>
</body>
</html>