<footer id='footer' class='footer-bottom'>
<nav class="nav">
  <ul class="menu-group">
    <li class="menu-item"><a href="#">利用規約</a></li>
    <li class="menu-item"><a href="#">お問い合わせ</a></li>
  </ul>
</nav>
</footer>