<header>
<div class="flex justify-center items-center gap-4">
  <div class="text-2xl"><a href="/diaries">推し活日記</a></div>
  <div class="bg-white"><a href="">友達リスト</a></div>
  <div class="bg-white"><a href="">プロフィール帳</a></div>
  <%= link_to 'ログアウト', logout_path, class: 'dropdown-item', data: { turbo_method: :delete } %>
</div>
</header>